@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
   margin: 0;
   padding: 0;
   font-family: 'Outfit', sans-serif;
}
html{
   background-color: #1F1A4D;
   color: #fff;
}
.header{
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(4, 9, 30, 0.702), rgba(4,9,30,0.7)), url(bannerfp.png);
   background-position: center;
   background-size: cover;
   position: relative;
}
nav{
   display: flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center;
}
nav img{
   width: 60px;
}
.nav-links{
   flex: 1;
   text-align: right;
}
.nav-links ul li{
   list-style: none;
   font-weight: 600;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
}
.nav-links ul li a{
   color: white;
   text-decoration: none;
   font-size: 15px;
}
.nav-links ul li::after{
   content:"";
   width: 0%;
   height: 2px;
   background: #FD4554;
   display: block;
   margin: auto;
   transition: 0.5s;
}
.nav-links ul li:hover::after{
   width: 100%;
}
.text-box{
   width: 90%;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align:  center;
}
.text-box h1{
   font-size: 45px;
   font-weight: 900;
}
.text-box p{
   margin:  10px 0 40px;
   /*top, left and right, bottom*/
   font-size: 14px;
   color: #fff;
}
.btn{
   display: inline-block;
   text-decoration: none;
   color: white;
   border: 1px solid #fff;
   padding: 12px 34px;
   font-size: 13px;
   background: transparent;
   position: relative;
   cursor: pointer;
}
.btn.btn:hover{
   border: 1px solid #FD4554;
   background:#FD4554;
   transition: all .5s ease-in-out;
}
nav .fa{
   display: none;
}
.row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
}
h3{
   text-align: center;
   color: white;
   margin: 10px 0;
}
.game{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 50px;
}
.game h1{
   font-size: 40px
}
.game-col{
   flex-basis: 32%;
   border-radius: 10px;
   margin-bottom: 30px;
   position: relative;
   overflow: hidden;
}
.game-col img{
   width: 100%;
   display: block;
}
.game P{
   margin-top: 10px;
}

.belowb{
   margin: 100px auto;
   width: 80%;
   background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(bannerfb.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 10px;
   text-align: center;
   padding: 100px 0;
}
.belowb h1{
   font-size: 30px;
   color: #fff;
   margin-bottom: 10px;
   padding: 0;
}
.belowb h2{
   color: white;
   font-size: 12px;
   margin-bottom: 30px;
   padding: 0;
}
.footer{
   width: 100%;
   text-align: center;
   padding: 30px 0;
   margin-bottom: 30px;
   margin-top: -20px;
}
.footer p{
   font-size: 13px;
   margin-top: 20px;
}
.footer a{
   text-decoration: none;
   color: white;
}

/*About Us*/

.sub-header{
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.702), rgba(4,9,30,0.7)), url(bannerfb.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.sub-header h1{
   margin-top: 40px;
   font-size: 45px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%; 
    /* we only need two coloumn */
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
    border-radius: 10px;
}
.about-col h1{
    font-size: 40px;
    padding-top: 0;
    margin-top: 30px;
}
.about-col p{
    padding: 15px 0px 25px;
}
.discussion{
   width: 80%;
   margin: auto;
   text-align: center;
}
.discussion h1{
   font-size: 36px;
   font-weight: 600;
   line-height: 22px;
   padding: 20px;
}
.discussion h3{
   text-align: center;
   margin: 10px 0;
   color: #da535e;
}
.discussion-col p{
   font-size: 16px;
   padding-bottom: 15px;
   font-weight: 500;
}
.discussion-col{
   flex-basis: 31%;
   background: #04091eb3;
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;
   transition: 0.5s;
}
.discussion-col:hover{
   box-shadow:  0 0 20px 0px rgba(0, 0, 0, 0.678)
}

.location{
   width: 100%;
   margin: auto;
   padding: 10px 0;
}
.location iframe{
   display: block;
   width: 83%;
   /* margin-top: 15px;
   margin-bottom: 15px; */
   border-radius: 10px;
}

.contact-us{
   width: 100%;
   margin: auto;
}
.contact-col{
   flex-basis: 48%;
   margin-bottom: 40px;
}
.contact-col div{
   display: flex;
}
#contact{
   margin-top: 25px;
   margin-bottom: -30px;
}
.contact-col .cl{
   margin-top: 20px;

   padding-left: 130px;
}
.contact-col span{
   text-align: left;
}
.contact-col div .fa{
   font-size: 30px;
   color: white;
   margin: 10px;
   margin-right: 30px;
}
.contact-col div p{
   align-items: center;
   padding: 0;
}
.contact-col div h5{
   font-size: 15px;
   margin-bottom: 5px;
   font-weight: 600;
}
@media (max-width: 700px){
   .text-box h1{
       font-size: 20px;
   }
   .text-box p{
       font-size: 10px;
   }
   .nav-links ul li{
       display: block;
   }
   .nav-links{
       position: absolute;
       background-color: #FD4554;
       height: 100vh;
       width: 200px;
       top: 0;
       right: -200px;
       text-align: left;
       z-index: 2;
       transition: 1s;
   }
   nav .fa{
       display: block;
       color: white;
       margin-right: 10px;
       font-size: 22px;
       cursor: pointer;
   }
   .nav-links ul{
       padding: 25px;
   }
   nav img{
    width: 40px;  
    margin-top: 10px; 
   }
   .row{
       flex-direction: column;
   }
   .game p{
       margin-bottom: 50px;
   }
   .belowb h1{
       font-size: 20px;
   }
   .belowb h2{
       font-size: 9px;
   }
   .btn{
       padding: 10px 24px;
       font-size: 10px;
       background: transparent;
       position: relative;
       cursor: pointer;
   }
   .footer p{
       font-size: 10px;
       margin-top: 20px;
   }
   .sub-header h1{
      margin-top: 140px;
  }
}
